<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803931052156-8h3dtui8ar7m9jci63nf9j1id76alcaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803931052156-8h3dtui8ar7m9jci63nf9j1id76alcaf</string>
	<key>API_KEY</key>
	<string>AIzaSyCmeZG6Aa0I3sX9ujoV4CdUZkyjgXLuKDE</string>
	<key>GCM_SENDER_ID</key>
	<string>803931052156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brandontoy.simply-grocery</string>
	<key>PROJECT_ID</key>
	<string>simply-grocery</string>
	<key>STORAGE_BUCKET</key>
	<string>simply-grocery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803931052156:ios:6bb0c154d16bc84e9791f9</string>
	<key>DATABASE_URL</key>
	<string>https://simply-grocery.firebaseio.com</string>
</dict>
</plist>